.container2 {
    min-width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}
.my-form {
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 30px 100px 30px 100px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px #f6f6f6;
}
.my-form h3 {
    /* margin-bottom: 50px; */
    color:red;
    text-align: center;
}

button[type="submit"],button[type="submit"]:hover {
    background-color: red;
    color: white;
}

.form-control {
    width: 22em;
    padding: 10px;
}

/*this is for the validation messages*/
.form-text {
    font-size: 13px;
    color: red
}

